<gs-tab-group>
    <gs-tab label="Item 1">
        I'm first tab's content
    </gs-tab>
    <gs-tab label="Item 2" [alerts]="2">
        I'm second tab's content
    </gs-tab>
    <gs-tab label="Item 3">
        I'm third tab's content
    </gs-tab>
    <gs-tab label="Item 4">
        I'm fourth tab's content
    </gs-tab>
    <gs-tab label="Item 5">
        I'm fifth tab's content
    </gs-tab>
    <gs-tab label="Lorem ipsum dolor sit amet consectetur adipiscing elit.">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Fusce a fermentum ante. In ut massa et risus commodo sodales. 
        Phasellus convallis nibh quis arcu hendrerit, ac ullamcorper urna dictum. 
        Maecenas suscipit, mi non ultrices laoreet, odio nibh imperdiet neque, et interdum erat ligula nec ex. Nullam ut erat nec leo luctus posuere. 
        Suspendisse pretium mi gravida, ullamcorper nisl sed, porttitor arcu. Vestibulum consectetur egestas orci, eu porta risus sagittis at
    </gs-tab>
</gs-tab-group>

<!-- <form [formGroup]="form">
    <gsr-radio-group formControlName="options">
        <gsr-radio-button label="Label 1" value="1"></gsr-radio-button>
        <gsr-radio-button label="Label 2" value="2"></gsr-radio-button>
        <gsr-radio-button label="Label 3" value="3"></gsr-radio-button>
    </gsr-radio-group>
</form>

<gsr-radio-group [(ngModel)]="model">
    <gsr-radio-button label="Label 1" value="1"></gsr-radio-button>
    <gsr-radio-button label="Label 2" value="2"></gsr-radio-button>
    <gsr-radio-button label="Label 3" value="3"></gsr-radio-button>
</gsr-radio-group> -->
<!-- <gs-direct-deposit></gs-direct-deposit>


<span title="Hello, I have a tooltip">Tooltip</span> -->